In [31]:
# 1번
import seaborn as sns
titanic = sns.load_dataset('titanic')

In [32]:
# 2-1번
titanic.head()

   survived  pclass     sex   age  sibsp  parch  ...    who adult_male deck  embark_town  alive  alone
0         0       3    male  22.0      1      0  ...    man       True  NaN  Southampton     no  False
1         1       1  female  38.0      1      0  ...  woman      False    C    Cherbourg    yes  False
2         1       3  female  26.0      0      0  ...  woman      False  NaN  Southampton    yes   True
3         1       1  female  35.0      1      0  ...  woman      False    C  Southampton    yes  False
4         0       3    male  35.0      0      0  ...    man       True  NaN  Southampton     no   True

[5 rows x 15 columns]

In [33]:
# 2-2번
titanic.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

\# 2-3 번
1. count : 해당 속성에서 유효한 값의 개수  
  ( 결측치 제외한 값의 개수 확인 가능 )

2. mean : 해당 속성에서 유효한 값의 평균   

3. std : 해당 속성에서 유효한 값의 표준편차    
  ( 값이 평균으로부터 얼마나 분산되어 있는지 확인 가능 )

4. min : 해당 속성에서 유효한 가장 작은 값

5. 25% : 해당 속성의 제 1사분면 값으로, 데이터의 하위 25%가 이 값 이하에 위치

6. 50% : 해당 속성의 제 2사분면 및 중앙값으로, 데이터의 50%가 이 값 이하에 위치

7. 75% : 해당 속성의 제 3사분면으로, 데이터의 상위 25%가 이 값 이상에 위치

8. max : 해당 속성에서 유효한 가장 큰 값

In [34]:
# 2-4번
titanic.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [35]:
# 3-1번
titanic['age']=titanic['age'].fillna(titanic['age'].median())
titanic['embarked']=titanic['embarked'].fillna(titanic['embarked'].mode()[0])
titanic['age'].isnull().sum()
titanic['embarked']

0      S
1      C
2      S
3      S
4      S
      ..
886    S
887    S
888    S
889    C
890    Q
Name: embarked, Length: 891, dtype: object

In [36]:
# 3-2번
titanic['sex'] = titanic['sex'].map({'male': 0, 'female': 1})
titanic['alive'] = titanic['alive'].map({'no': 1, 'yes': 0})
titanic['embarked'] = titanic['embarked'].map({'C': 0, 'Q': 1, 'S': 2,})

print(titanic['sex'].head())
print(titanic['alive'].head())
print(titanic['embarked'].head())

0    0
1    1
2    1
3    1
4    0
Name: sex, dtype: int64
0    1
1    0
2    0
3    0
4    1
Name: alive, dtype: int64
0    2
1    0
2    2
3    2
4    2
Name: embarked, dtype: int64

In [37]:
# 3-3번
titanic['family_size']=titanic['sibsp']+titanic['parch']+1
titanic['family_size'].head()

0    2
1    2
2    1
3    2
4    1
Name: family_size, dtype: int64

In [38]:
# 4-1번
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

X = titanic.iloc[:, list(range(1,8))+[-1]]
y = titanic.iloc[:,0]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X_scaler = StandardScaler()
X_train =  X_scaler.fit_transform(X_train)
X_test = X_scaler.transform(X_test)

In [28]:
# 4-2번
# 로지스틱 회귀 모델
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

model = LogisticRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

print(f"Accuracy: {accuracy_score(y_test, y_pred)}")
print(f"Classification Report:\n{classification_report(y_test, y_pred)}")

Accuracy: 0.8044692737430168
Classification Report:
              precision    recall  f1-score   support

           0       0.82      0.86      0.84       105
           1       0.78      0.73      0.76        74

    accuracy                           0.80       179
   macro avg       0.80      0.79      0.80       179
weighted avg       0.80      0.80      0.80       179

In [29]:
# 4-3번
# 랜덤 포레스트 모델
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

model = RandomForestClassifier()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

print(f"Accuracy: {accuracy_score(y_test, y_pred)}")
print(f"Classification Report:\n{classification_report(y_test, y_pred)}")

Accuracy: 0.8268156424581006
Classification Report:
              precision    recall  f1-score   support

           0       0.84      0.88      0.86       105
           1       0.81      0.76      0.78        74

    accuracy                           0.83       179
   macro avg       0.82      0.82      0.82       179
weighted avg       0.83      0.83      0.83       179

In [47]:
# 4-3번
# XGBoost 모델
import xgboost as xgb
from sklearn.metrics import mean_squared_error

model = xgb.XGBClassifier(n_estimators=100, learning_rate=0.1, max_depth=3, random_state=42)
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

print(f"MSE : {mean_squared_error(y_test, y_pred)}")
print(f"Accuracy: {accuracy_score(y_test, y_pred)}")

MSE : 0.19553072625698323
Accuracy: 0.8044692737430168